{:kotoba.app/id "cloud.itonami.isic-4659", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreid3cib5wyhalr4vyythzsdezqwyv2fqfxzy5xfbiukxcle2jyumii", :kotoba.app/embed-url "ipfs://bafkreid3cib5wyhalr4vyythzsdezqwyv2fqfxzy5xfbiukxcle2jyumii", :published {:archive "https://kotobase.net/ipfs/bafkreid3cib5wyhalr4vyythzsdezqwyv2fqfxzy5xfbiukxcle2jyumii", :size 72846, :put-status 201, :get-status 200, :at "2026-08-15T13:58:55.558Z"}}
